[
    ("AUS", "ETS", 4),
    ("LOP", "YUL", 3),
    ("HEO", "MOS", 4),
    ("TSY", "LAK", 5),
    ("ADM", "CEN", 3),
    ("JOR", "TST", 3),
    ("CSW", "SSP", 3),
    ("TIS", "LOP", 4),
    ("CAB", "WAC", 3),
    ("TWW", "MEF", 6),
    ("LOF", "KOT", 3),
    ("WCH", "OCP", 4),
    ("CEN", "SHW", 3),
    ("HAH", "TKO", 4),
    ("CEN", "HOK", 8),
    ("KAT", "DIH", 4),
    ("HOK", "TST", 0),
    ("TAW", "CKT", 3),
    ("STW", "CIO", 4),
    ("SKW", "SWH", 3),
    ("KOB", "CHH", 3),
    ("YAT", "QUB", 5),
    ("SYP", "HKU", 2),
    ("SKM", "PRE", 3),
    ("CIO", "SHM", 3),
    ("TUM", "SIH", 4),
    ("TSH", "HEO", 3),
    ("KWH", "KWF", 3),
    ("SIH", "TIS", 6),
    ("MKK", "HUH", 5),
    ("MEF", "NAC", 4),
    ("YMT", "JOR", 3),
    ("SHS", "FAN", 4),
    ("LAK", "NAC", 6),
    ("OLY", "KOW", 4),
    ("TAP", "UNI", 7),
    ("NTK", "KOB", 3),
    ("SUW", "KAT", 3),
    ("DIH", "WTS", 3),
    ("UNI", "FOT", 5),
    ("TSW", "TWH", 3),
    ("KWF", "LAK", 4),
    ("TWO", "TAP", 4),
    ("KOT", "MKK", 4),
    ("TST", "ADM", 5),
    ("PRE", "MOK", 3),
    ("HOM", "TKW", 4),
    ("TST", "ETS", 6),
    ("POA", "HAH", 3),
    ("EXC", "ADM", 3),
    ("TKO", "TIK", 3),
    ("SWH", "TAK", 3),
    ("YMT", "HOM", 4),
    ("HUH", "EXC", 5),
    ("HIK", "TAW", 4),
    ("LOW", "SHS", 6),
    ("FAN", "TWO", 6),
    ("HUH", "HOM", 4),
    ("KOW", "HOK", 5),
    ("CHW", "HFC", 3),
    ("DIH", "HIK", 6),
    ("HKU", "KET", 2),
    ("MEF", "LCK", 3),
    ("HFC", "SKW", 3),
    ("QUB", "NOP", 3),
    ("NOP", "FOH", 3),
    ("SUN", "TSY", 10),
    ("AWE", "AIR", 2),
    ("TKO", "TKO", 7),
    ("AIR", "TSY", 14),
    ("TIK", "YAT", 4),
    ("KWT", "NTK", 3),
    ("KSR", "TWW", 7),
    ("FOH", "TIH", 3),
    ("LAT", "KWT", 3),
    ("WAC", "ADM", 3),
    ("YAT", "LAT", 3),
    ("TAW", "KOT", 6),
    ("SHT", "TAW", 4),
    ("SUN", "DIS", 6),
    ("SHM", "TSH", 5),
    ("MOS", "WKS", 0),
    ("KOT", "SKM", 3),
    ("NAC", "OLY", 4),
    ("LET", "WCH", 4),
    ("SHW", "SYP", 3),
    ("TSY", "KOW", 13),
    ("HOM", "WHA", 4),
    ("LAK", "MEF", 3),
    ("TAK", "QUB", 3),
    ("CKT", "STW", 3),
    ("TWH", "KWH", 3),
    ("FOT", "SHT", 4),
    ("SSP", "PRE", 3),
    ("OCP", "ADM", 6),
    ("MOK", "YMT", 3),
    ("NAC", "AUS", 4),
    ("YUL", "KSR", 5),
    ("TKW", "SUW", 4),
    ("SOH", "LET", 4),
    ("CHH", "DIH", 4),
    ("ETS", "HUH", 4),
    ("TIH", "CAB", 3),
    ("WTS", "LOF", 3),
    ("TUC", "SUN", 10),
    ("LCK", "CSW", 3),
]