{
    "NAC": (
        code: "NAC",
        id: 0,
        name: "Nam Cheong",
        latitude: 22.3263889,
        longitude: 114.1536861,
        line_code: "TCL",
    ),
    "WHA": (
        code: "WHA",
        id: 0,
        name: "Whampoa",
        latitude: 22.304901,
        longitude: 114.1896461,
        line_code: "KTL",
    ),
    "TIK": (
        code: "TIK",
        id: 0,
        name: "Tiu Keng Leng",
        latitude: 22.3040231,
        longitude: 114.252426,
        line_code: "TKL",
    ),
    "ETS": (
        code: "ETS",
        id: 0,
        name: "East Tsim Sha Tsui",
        latitude: 22.2952166,
        longitude: 114.1746402,
        line_code: "WLK",
    ),
    "HIK": (
        code: "HIK",
        id: 0,
        name: "Hin Keng",
        latitude: 22.3638205,
        longitude: 114.1707186,
        line_code: "TML",
    ),
    "DIH": (
        code: "DIH",
        id: 0,
        name: "Diamond Hill",
        latitude: 22.3396397,
        longitude: 114.2012733,
        line_code: "TML",
    ),
    "WTS": (
        code: "WTS",
        id: 0,
        name: "Wong Tai Sin",
        latitude: 22.3417091,
        longitude: 114.1943553,
        line_code: "KTL",
    ),
    "CEN": (
        code: "CEN",
        id: 0,
        name: "Central",
        latitude: 22.282,
        longitude: 114.1576,
        line_code: "WLK",
    ),
    "YUL": (
        code: "YUL",
        id: 0,
        name: "Yuen Long",
        latitude: 22.4459701,
        longitude: 114.0352445,
        line_code: "TML",
    ),
    "MEF": (
        code: "MEF",
        id: 0,
        name: "Mei Foo",
        latitude: 22.3388904,
        longitude: 114.136522,
        line_code: "TWL",
    ),
    "STW": (
        code: "STW",
        id: 0,
        name: "Sha Tin Wai",
        latitude: 22.3769634,
        longitude: 114.1947694,
        line_code: "TML",
    ),
    "HAH": (
        code: "HAH",
        id: 0,
        name: "Hang Hau",
        latitude: 22.3155885,
        longitude: 114.2644721,
        line_code: "TKL",
    ),
    "KOB": (
        code: "KOB",
        id: 0,
        name: "Kowloon Bay",
        latitude: 22.3235575,
        longitude: 114.2141658,
        line_code: "KTL",
    ),
    "LOW": (
        code: "LOW",
        id: 0,
        name: "Lo Wu",
        latitude: 22.5281624,
        longitude: 114.113146,
        line_code: "EAL",
    ),
    "TUC": (
        code: "TUC",
        id: 0,
        name: "Tung Chung",
        latitude: 22.289278,
        longitude: 113.9413221,
        line_code: "TCL",
    ),
    "TWO": (
        code: "TWO",
        id: 0,
        name: "Tai Wo",
        latitude: 22.4509658,
        longitude: 114.1612012,
        line_code: "EAL",
    ),
    "YMT": (
        code: "YMT",
        id: 0,
        name: "Yau Ma Tei",
        latitude: 22.3129,
        longitude: 114.1707,
        line_code: "TWL",
    ),
    "QUB": (
        code: "QUB",
        id: 0,
        name: "Quarry Bay",
        latitude: 22.2882652,
        longitude: 114.2090338,
        line_code: "TKL",
    ),
    "LAT": (
        code: "LAT",
        id: 0,
        name: "Lam Tin",
        latitude: 22.3066758,
        longitude: 114.2328977,
        line_code: "KTL",
    ),
    "SIH": (
        code: "SIH",
        id: 0,
        name: "Siu Hong",
        latitude: 22.4119019,
        longitude: 113.9790545,
        line_code: "TML",
    ),
    "ADM": (
        code: "ADM",
        id: 0,
        name: "Admiralty",
        latitude: 22.2788,
        longitude: 114.1646,
        line_code: "SIL",
    ),
    "SUN": (
        code: "SUN",
        id: 0,
        name: "Sunny Bay",
        latitude: 22.3318274,
        longitude: 114.0288778,
        line_code: "TCL",
    ),
    "SHS": (
        code: "SHS",
        id: 0,
        name: "Sheung Shui",
        latitude: 22.501124,
        longitude: 114.1280498,
        line_code: "EAL",
    ),
    "TAP": (
        code: "TAP",
        id: 0,
        name: "Tai Po Market",
        latitude: 22.4445147,
        longitude: 114.1707659,
        line_code: "EAL",
    ),
    "TKW": (
        code: "TKW",
        id: 0,
        name: "To Kwa Wan",
        latitude: 22.3169869,
        longitude: 114.1875844,
        line_code: "TML",
    ),
    "HOM": (
        code: "HOM",
        id: 0,
        name: "Ho Man Tin",
        latitude: 22.3093727,
        longitude: 22.3093727,
        line_code: "TML",
    ),
    "SHW": (
        code: "SHW",
        id: 0,
        name: "Sheung Wan",
        latitude: 22.2865033,
        longitude: 114.1521488,
        line_code: "ISL",
    ),
    "HFC": (
        code: "HFC",
        id: 0,
        name: "Heng Fa Chuen",
        latitude: 22.276619,
        longitude: 114.2397239,
        line_code: "ISL",
    ),
    "TSH": (
        code: "TSH",
        id: 0,
        name: "Tai Shui Hang",
        latitude: 22.4084544,
        longitude: 114.222844,
        line_code: "TML",
    ),
    "TKO": (
        code: "TKO",
        id: 0,
        name: "Lohas Park",
        latitude: 22.2956555,
        longitude: 114.2687716,
        line_code: "TKL",
    ),
    "TAW": (
        code: "TAW",
        id: 0,
        name: "Tai Wai",
        latitude: 22.3728022,
        longitude: 114.1787838,
        line_code: "TML",
    ),
    "HKU": (
        code: "HKU",
        id: 0,
        name: "HKU",
        latitude: 22.2839642,
        longitude: 114.1354563,
        line_code: "ISL",
    ),
    "CSW": (
        code: "CSW",
        id: 0,
        name: "Cheung Sha Wan",
        latitude: 22.3354,
        longitude: 114.1563,
        line_code: "TWL",
    ),
    "OCP": (
        code: "OCP",
        id: 0,
        name: "Ocean Park",
        latitude: 22.2486,
        longitude: 114.1743,
        line_code: "SIL",
    ),
    "MOK": (
        code: "MOK",
        id: 0,
        name: "Mong Kok",
        latitude: 22.3191,
        longitude: 114.1694,
        line_code: "TWL",
    ),
    "YAT": (
        code: "YAT",
        id: 0,
        name: "Yau Tong",
        latitude: 22.2977718,
        longitude: 114.2370927,
        line_code: "TKL",
    ),
    "CHH": (
        code: "CHH",
        id: 0,
        name: "Choi Hung",
        latitude: 22.3354008,
        longitude: 114.2086311,
        line_code: "KTL",
    ),
    "CKT": (
        code: "CKT",
        id: 0,
        name: "Che Kung Temple",
        latitude: 22.3747809,
        longitude: 114.1860976,
        line_code: "TML",
    ),
    "TAK": (
        code: "TAK",
        id: 0,
        name: "Tai Koo",
        latitude: 22.2844656,
        longitude: 114.2163547,
        line_code: "ISL",
    ),
    "TIS": (
        code: "TIS",
        id: 0,
        name: "Tin Shui Wai",
        latitude: 22.4480421,
        longitude: 114.004696,
        line_code: "TML",
    ),
    "TIH": (
        code: "TIH",
        id: 0,
        name: "Tin Hau",
        latitude: 22.2821959,
        longitude: 114.1920333,
        line_code: "ISL",
    ),
    "MKK": (
        code: "MKK",
        id: 0,
        name: "Mong Kok East",
        latitude: 22.3217126,
        longitude: 22.3217126,
        line_code: "EAL",
    ),
    "SKW": (
        code: "SKW",
        id: 0,
        name: "Shau Kei Wan",
        latitude: 22.2790272,
        longitude: 114.2286373,
        line_code: "ISL",
    ),
    "KOW": (
        code: "KOW",
        id: 0,
        name: "Kowloon",
        latitude: 22.3048965,
        longitude: 114.1616963,
        line_code: "TCL",
    ),
    "UNI": (
        code: "UNI",
        id: 0,
        name: "University",
        latitude: 22.4133852,
        longitude: 114.2100545,
        line_code: "EAL",
    ),
    "KET": (
        code: "KET",
        id: 0,
        name: "Kennedy Town",
        latitude: 22.2812239,
        longitude: 114.128455,
        line_code: "ISL",
    ),
    "NTK": (
        code: "NTK",
        id: 0,
        name: "Ngau Tau Kok",
        latitude: 22.3154451,
        longitude: 114.2192556,
        line_code: "KTL",
    ),
    "LAK": (
        code: "LAK",
        id: 0,
        name: "Lai King",
        latitude: 22.3484,
        longitude: 114.1261,
        line_code: "TWL",
    ),
    "OLY": (
        code: "OLY",
        id: 0,
        name: "Olympic",
        latitude: 22.317703,
        longitude: 114.1604114,
        line_code: "TCL",
    ),
    "POA": (
        code: "POA",
        id: 0,
        name: "Po Lam",
        latitude: 22.3225369,
        longitude: 114.2579671,
        line_code: "TKL",
    ),
    "TSW": (
        code: "TSW",
        id: 0,
        name: "Tsuen Wan",
        latitude: 22.3683642,
        longitude: 114.1099384,
        line_code: "TWL",
    ),
    "TSY": (
        code: "TSY",
        id: 0,
        name: "Tsing Yi",
        latitude: 22.3583861,
        longitude: 114.1074312,
        line_code: "TCL",
    ),
    "FAN": (
        code: "FAN",
        id: 0,
        name: "Fanling",
        latitude: 22.4920423,
        longitude: 114.1386658,
        line_code: "EAL",
    ),
    "LCK": (
        code: "LCK",
        id: 0,
        name: "Lai Chi Kok",
        latitude: 22.3373,
        longitude: 114.1482,
        line_code: "TWL",
    ),
    "LOF": (
        code: "LOF",
        id: 0,
        name: "Lok Fu",
        latitude: 22.3380634,
        longitude: 114.1869748,
        line_code: "KTL",
    ),
    "HUH": (
        code: "HUH",
        id: 0,
        name: "Hung Hom",
        latitude: 22.3027415,
        longitude: 114.182136,
        line_code: "TML",
    ),
    "SSP": (
        code: "SSP",
        id: 0,
        name: "Sham Shui Po",
        latitude: 22.3307,
        longitude: 114.1623,
        line_code: "TWL",
    ),
    "JOR": (
        code: "JOR",
        id: 0,
        name: "Jordan",
        latitude: 22.3049,
        longitude: 114.1718,
        line_code: "TWL",
    ),
    "TST": (
        code: "TST",
        id: 0,
        name: "Tsim Sha Tsui",
        latitude: 22.2973,
        longitude: 114.1722,
        line_code: "WLK",
    ),
    "WAC": (
        code: "WAC",
        id: 0,
        name: "Wan Chai",
        latitude: 22.2775557,
        longitude: 114.1729643,
        line_code: "ISL",
    ),
    "CAB": (
        code: "CAB",
        id: 0,
        name: "Causeway Bay",
        latitude: 22.2801023,
        longitude: 114.1840143,
        line_code: "ISL",
    ),
    "KWH": (
        code: "KWH",
        id: 0,
        name: "Kwai Hing",
        latitude: 22.3632,
        longitude: 114.1312,
        line_code: "TWL",
    ),
    "FOT": (
        code: "FOT",
        id: 0,
        name: "Fo Tan",
        latitude: 22.3953371,
        longitude: 114.198366,
        line_code: "EAL",
    ),
    "KWF": (
        code: "KWF",
        id: 0,
        name: "Kwai Fong",
        latitude: 22.3569,
        longitude: 114.1279,
        line_code: "TWL",
    ),
    "TWH": (
        code: "TWH",
        id: 0,
        name: "Tai Wo Hau",
        latitude: 22.3708,
        longitude: 114.125,
        line_code: "TWL",
    ),
    "SWH": (
        code: "SWH",
        id: 0,
        name: "Sai Wan Ho",
        latitude: 22.2816237,
        longitude: 114.2222818,
        line_code: "ISL",
    ),
    "DIS": (
        code: "DIS",
        id: 0,
        name: "Disneyland Resort",
        latitude: 22.3155384,
        longitude: 114.0451419,
        line_code: "DRL",
    ),
    "KOT": (
        code: "KOT",
        id: 0,
        name: "Kowloon Tong",
        latitude: 22.336867,
        longitude: 114.177541,
        line_code: "KTL",
    ),
    "KSR": (
        code: "KSR",
        id: 0,
        name: "Kam Sheung Road",
        latitude: 22.4347947,
        longitude: 114.0633108,
        line_code: "TML",
    ),
    "CHW": (
        code: "CHW",
        id: 0,
        name: "Chai Wan",
        latitude: 22.2646033,
        longitude: 114.2370517,
        line_code: "ISL",
    ),
    "FOH": (
        code: "FOH",
        id: 0,
        name: "Fortress Hill",
        latitude: 22.2875389,
        longitude: 114.1933631,
        line_code: "ISL",
    ),
    "LOP": (
        code: "LOP",
        id: 0,
        name: "Long Ping",
        latitude: 22.447583,
        longitude: 114.0254341,
        line_code: "TML",
    ),
    "HEO": (
        code: "HEO",
        id: 0,
        name: "Heng On",
        latitude: 22.4178164,
        longitude: 114.2259505,
        line_code: "TML",
    ),
    "AIR": (
        code: "AIR",
        id: 0,
        name: "Airport",
        latitude: 22.3158106,
        longitude: 113.9365921,
        line_code: "AEL",
    ),
    "SUW": (
        code: "SUW",
        id: 0,
        name: "Sung Wong Toi",
        latitude: 22.32578,
        longitude: 114.1914117,
        line_code: "TML",
    ),
    "SOH": (
        code: "SOH",
        id: 0,
        name: "South Horizons",
        latitude: 22.2425,
        longitude: 114.1491,
        line_code: "SIL",
    ),
    "SKM": (
        code: "SKM",
        id: 0,
        name: "Shek Kip Mei",
        latitude: 22.3318072,
        longitude: 114.1687327,
        line_code: "KTL",
    ),
    "MOS": (
        code: "MOS",
        id: 0,
        name: "Ma On Shan",
        latitude: 22.4249134,
        longitude: 114.2317637,
        line_code: "TML",
    ),
    "HOK": (
        code: "HOK",
        id: 0,
        name: "Hong Kong",
        latitude: 22.2851469,
        longitude: 114.1584546,
        line_code: "WLK",
    ),
    "SYP": (
        code: "SYP",
        id: 0,
        name: "Sai Ying Pun",
        latitude: 22.2854233,
        longitude: 114.1427807,
        line_code: "ISL",
    ),
    "SHT": (
        code: "SHT",
        id: 0,
        name: "Sha Tin",
        latitude: 22.3826796,
        longitude: 114.1877459,
        line_code: "EAL",
    ),
    "EXC": (
        code: "EXC",
        id: 0,
        name: "Exhibition Centre",
        latitude: 22.2816654,
        longitude: 114.1757015,
        line_code: "EAL",
    ),
    "PRE": (
        code: "PRE",
        id: 0,
        name: "Prince Edward",
        latitude: 22.3245,
        longitude: 114.1683,
        line_code: "TWL",
    ),
    "SHM": (
        code: "SHM",
        id: 0,
        name: "Shek Mun",
        latitude: 22.3877892,
        longitude: 114.2085474,
        line_code: "TML",
    ),
    "KWT": (
        code: "KWT",
        id: 0,
        name: "Kwun Tong",
        latitude: 22.3122845,
        longitude: 114.2264543,
        line_code: "KTL",
    ),
    "LET": (
        code: "LET",
        id: 0,
        name: "Lei Tung",
        latitude: 22.2421,
        longitude: 114.1562,
        line_code: "SIL",
    ),
    "WCH": (
        code: "WCH",
        id: 0,
        name: "Wong Chuk Hang",
        latitude: 22.248,
        longitude: 114.1681,
        line_code: "SIL",
    ),
    "WKS": (
        code: "WKS",
        id: 0,
        name: "Wu Kai Sha",
        latitude: 22.4292202,
        longitude: 114.243854,
        line_code: "TML",
    ),
    "AWE": (
        code: "AWE",
        id: 0,
        name: "AsiaWorld-Expo",
        latitude: 22.3219972,
        longitude: 113.9422192,
        line_code: "AEL",
    ),
    "NOP": (
        code: "NOP",
        id: 0,
        name: "North Point",
        latitude: 22.2904837,
        longitude: 114.2005605,
        line_code: "TKL",
    ),
    "AUS": (
        code: "AUS",
        id: 0,
        name: "Austin",
        latitude: 22.3041946,
        longitude: 114.166541,
        line_code: "TML",
    ),
    "CIO": (
        code: "CIO",
        id: 0,
        name: "City One",
        latitude: 22.3830131,
        longitude: 114.203784,
        line_code: "TML",
    ),
    "TUM": (
        code: "TUM",
        id: 0,
        name: "Tuen Mun",
        latitude: 22.3952837,
        longitude: 113.9733214,
        line_code: "TML",
    ),
    "TWW": (
        code: "TWW",
        id: 0,
        name: "Tsuen Wan West",
        latitude: 22.3683642,
        longitude: 114.1099384,
        line_code: "TML",
    ),
    "KAT": (
        code: "KAT",
        id: 0,
        name: "Kai Tak",
        latitude: 22.3303836,
        longitude: 114.1992233,
        line_code: "TML",
    ),
}